<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="icon" href="/image/ideathon-min.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/college.css">
</head>
<body>
    <header>
        <div class="clg">
            <div class="clg_logo">
                <img src="/image/bg/gasc-min.png">
            </div>
            <div class="clg_name">
                <h1>GOBI ARTS & SCIENCE COLLEGE</h1>
                <div class="clg_disc">
                    <i>(Govt.Aided Autonomous Co-educational institution Affiliated to Bharathiar University, Coimbatore. <br>
                        Accrediated with 'A' Grade by NAAC (4th cycle) & Recognised as STAR College by DBT, Govt.of India.)
                    </i>
                </div>
            </div>
        </div>
    </header>

    <main>
        <%- body %>
    </main>
</body>
</html>