<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agri ideathon is an intensive brainstorming events where individuals from different backgrounds, skillsand
    interests converge to diagnose problems identify the best opportunities and ideate the most viable solutions in agrisector.">
    <meta name="keywords" content="2k23,agri,ideathon,2024,gasc,gobi,gobiarts,gobichettipalayam,erode,science,expo">
    <title><%- title %></title>
    <link rel="icon" href="/image/ideathon-min.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/book.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <%- body %>
        <%- include('../partials/scroll.ejs') %>
    </main>
</body>
</html>