<link rel="stylesheet" href="/css/brochure.css" />
<link rel="stylesheet" href="/css/particles.css" />

<style>
  .particles {
    height: 110rem;
  }
  .brochure {
    margin: 10%;
    margin-top: 10px;
  }
  .brochure img {
    width: 45%;
  }
  .brochure_language {
    letter-spacing: 1px;
    margin-left: 40%;
  }

  @media (max-width: 768px) {
    .particles {
      height: 50rem;
    }
    .brochure img {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .btn {
      margin-left: 20%;
    }
  }
</style>

<!-- <div id="particles-js" class="particles"></div> -->

<div class="brochure">
  <div class="title_container">
    <div class="sub_title">Tamil</div>
  </div>

  <div class="brochure_container">
    <img src="/image/Brochure/Tamil-front.png" alt="" /><br />
    <img src="/image/Brochure/Tamil-back.png" alt="" /><br />
  </div>

  <div class="brochure_btn">
    <a href="/image/Brochure/Tamil-Ideathon__.pdf"
      ><button download="downloaded-file-name.pdf">Tamil Download</button></a
    >
  </div>

  <div class="title_container">
    <div class="sub_title">Engilsh</div>
  </div>

  <div class="brochure_container">
    <img src="/image/Brochure/English-front.png" alt="" /><br />
    <img src="/image/Brochure/English-back.png" alt="" /><br />
  </div>

  <div class="brochure_btn">
    <a href="/image/Brochure/English-Ideathon__.pdf"
      ><button download="downloaded-file-name.pdf">Engilsh Download</button></a
    >
  </div>
</div>

<!-- scripts -->
<script src="/js/partical/particles.js"></script>
<script src="/js/partical/main.js"></script>

<!-- stats.js -->
<script src="/js/partical/lib/stats.js"></script>
