<link rel="stylesheet" href="/css/contact_card.css" />
<link rel="stylesheet" href="/css/particles.css" />

<style>
  .particles {
    height: 85rem;
  }

  @media (max-width: 768px) {
    .particles {
      height: 70rem;
    }
  }
</style>

<div id="particles-js" class="particles"></div>

<div class="title_container">
  <h1 class="title">Contact Information</h1>
</div>

<div class="contact_container">
  <div class="card">
    <div class="card-image">
      <img src="/image/bg/contactbg-min.png" alt="" />
    </div>

    <div class="profile-image">
      <img src="/image/bg/contact-min.png" alt="" />
    </div>

    <div class="card-content">
      <h4 class="role">Convener</h4>
      <h3>Dr. M. Ramalingam</h3>
      <h4>
        Assiociate Professor & Head,<br />Department of Computer Science
        <br />(Artificial intelligence and Data Science),
      </h4>
      <h4>Gobi Arts & Science College ( Autonomous ),</h4>
      <h4>Gobichettipalayam - 638 452</h4>
    </div>

    <div class="icons">
      <a href="#" class="fab fa-whatsapp">96776 88934</a><br />
      <a href="#" class="fa fa-envelope checked"> ramsgobi@gascgobi.ac.in</a>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="/image/bg/contactbg-min.png" alt="" />
    </div>

    <div class="profile-image">
      <img src="/image/bg/contact-min.png" alt="" />
    </div>

    <div class="card-content">
      <h4 class="role">Coordinator</h4>
      <h3>Mrs. P. Valarmathi</h3>
      <h4>
        Assiociate Professor & Head,<br />Department of Internet of Things,
      </h4>
      <h4>Gobi Arts & Science College ( Autonomous ),</h4>
      <h4>Gobichettipalayam - 638 452</h4>
    </div>

    <div class="icons">
      <a href="#" class="fab fa-whatsapp">75023 05772</a><br />
      <a href="#" class="fa fa-envelope checked"> pvalarmathi@gascgobi.ac.in</a>
    </div>
  </div>
</div>

<div class="title_container">
  <h1 class="title">College Location</h1>
</div>

<div class="location_container">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3910.422765628871!2d77.40129661058839!3d11.449380646373749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba93d698880c345%3A0xe08dd16d1dc3a42f!2sGobi%20Arts%20%26%20Science%20College%2C%20Gobi!5e0!3m2!1sen!2sin!4v1702541201665!5m2!1sen!2sin"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="location_details">
    <table>
      <tr>
        <td><h4>College Name</h4></td>
        <td>:</td>
        <td>Gobi Arts & Science College</td>
      </tr>
      <tr>
        <td><h4>Place</h4></td>
        <td>:</td>
        <td>Karattadipalayam</td>
      </tr>
      <!-- <tr>
                <td><h4>Venue</h4></td>
                <td>:</td>
                <td>A/C Conferece Hall</td>
            </tr>
            <tr>
                <td><h4>Time</h4></td>
                <td>:</td>
                <td>09:30 AM</td>
            </tr> -->
    </table>
  </div>
</div>

<!-- scripts -->
<script src="/js/partical/particles.js"></script>
<script src="/js/partical/main.js"></script>

<!-- stats.js -->
<script src="/js/partical/lib/stats.js"></script>
