<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/button.css">


<script src="/js/script.js"></script>

<div class="container">
    <div class="title_center">
        <h1>Admin Dashboard - <%= no_total %></h1>
    </div>

    <div class="select_container">
        <div class="school_students">
            <a href="/admin_2468_show_school_students" target="_blank"><button>School Students</button></a>
        </div>
        <div class="college_students">
            <a href="/admin_2468_show_college_students" target="_blank"><button>College Students</button></a>
        </div>
        <div class="public">
            <a href="/admin_2468_show_public" target="_blank"><button>Public</button></a>
        </div>
    </div>
</div>