<link rel="stylesheet" href="/css/particles.css">
<link rel="stylesheet" href="/css/Gallery/gallery.css">



<style>
    .particles {
        height: 85rem
    }
    
    @media(max-width:768px) {
        .particles {
        height: 70rem;
        }
    }
</style>
    

<body>

<!-- <div id="particles-js" class="particles"></div> -->
<div>
    <div class="title_container">
        <h1 class="title">Chief Guest</h1>
    </div>
    
    <div class="cg">
        <div class="cg_1">
            <h2>Mrs. parvathi venkatesh</h2>
            <h4>Pioneer in Organic Farming,</h4>
            <h4>Owner of Muthu Mahal & Vertrivel Mandram, Gobi</h4>
        </div>
        <div class="cg_1">
            <h2>Dr. P. Alaghesan</h2>
            <h4>ICAR -Senior Scientist and Head,</h4>
            <h4>Krishi Vigyan Kendra, Gopichettipalayam, Erode District.</h4>
        </div>
    </div>
    
    <div class="container">
        <div class="panel active" style="background: url(/image/Gallery/DSC_1352-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);"></div>
        <div class="panel" style="background: url(/image/Gallery/DSC_1348-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);"></div>
        <div class="panel" style="background: url(/image/Gallery/DSC_1197-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);"></div>
        <div class="panel" style="background: url(/image/Gallery/DSC_1325-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);"></div>
    </div> 
</div>

<div>
    <div class="title_container_1">
        <h1 class="title_1">Chief Guest Memento</h1>
    </div>
    
    <div class="parent-container">
        <div class="child-container">
            <img src="/image/Gallery/DSC_1218-min.JPG" width="100%" height="auto">
        </div>
        <div class="child-container">
            <img src="/image/Gallery/DSC_1222-min.JPG" width="100%" height="auto">                                        
        </div>
    </div>
</div>

<div>
    <div class="title_container_2">
        <h1 class="title_2">Judges</h1>
    </div>
    
    <div class="container">
        <div class="panel active" style="background: url(/image/Gallery/DSC_0688-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);">
            <h3>Dr. V.N. Mutharayan </h3>
            <h4>Associate Professor,Department of Botany</h4>
        </div>
        <div class="panel" style="background: url(/image/Gallery/DSC_0689-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);">
            <h3>Dr. R. Prabhakari </h3>
            <h4>Associate Professor. Department of Computer Science</h4>
        </div>
        <div class="panel" style="background: url(/image/Gallery/DSC_0690-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);">
            <h3>Dr. S. Annapoorani </h3>
            <h4>Assistant Professor. Department of Computer Science</h4>
        </div>
        <div class="panel" style="background: url(/image/Gallery/DSC_0691-min.JPG); background-position: center; background-repeat: no-repeat; background-size: cover; box-shadow: 0 0 30px var(--primary-color);">
            <h3>Dr. B. Duraisamy </h3>
            <h4>Associate Professor. Department of Mathematics</h4>
        </div>
    </div> 
</div>

<div>
    <div class="title_container_3">
        <h1 class="title_3">Agri-Ideathon 2K24  Winner's</h1>
    </div>
    
    <!-- <script src="https://kit.fontawesome.com/ee7a178a15.js" crossorigin="anonymous"></script> -->
    
    <div class="parent-container">
        <div class="child-container" id="one">
            <img src="/image/Gallery/DSC_1296-min.JPG" width="100%" height="auto">
            <img src="/image/Gallery/DSC_1297-min.JPG" width="100%" height="auto">
            <img src="/image/Gallery/DSC_1301-min.JPG" width="100%" height="auto">
        </div>
        <div class="child-container" id="two">
            <img src="/image/Gallery/DSC_1291-min.JPG" width="100%" height="auto">
            <img src="/image/Gallery/DSC_1303-min.JPG" width="100%" height="auto">
            <img src="/image/Gallery/DSC_1310-min.JPG" width="100%" height="auto">
            <img src="/image/Gallery/DSC_1307-min.JPG" width="100%" height="auto">                                          
        </div>
        <div class="child-container" id="three">
            <img src="/image/Gallery/DSC_1293-min.JPG" width="100%" height="auto">
            <img src="/image/Gallery/DSC_1316-min.JPG" width="100%" height="auto">
            <img src="/image/Gallery/DSC_1317-min.JPG" width="100%"  height="auto">  
        </div>
    </div>
    
</div>


    <script src="/js/Gallery/gallery.js"></script>

    <script src="script.js"></script>

    
</body>
    <!-- scripts -->
    <script src="/js/partical/particles.js"></script>
    <script src="/js/partical/main.js"></script>
    
    <!-- stats.js -->
    <script src="/js/partical/lib/stats.js"></script>