<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/card.css">
<link rel="stylesheet" href="/css/text_animation.css">
<link rel="stylesheet" href="/css/prize.css">

<!-- <link rel="stylesheet" type="text/css" href="/css/timer_css/flipdown/flipdown.css">
<link rel="stylesheet" type="text/css" href="/css/timer_css/timer.css">

<script type="text/javascript" src="/js/timer_js/flipdown/flipdown.js"></script>
<script type="text/javascript" src="/js/timer_js/timer.js"></script> -->

<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
<link rel="stylesheet" href="/css/particles.css">


<!-- <style>
  .particles {
    height: 160rem
  }

  @media(max-width:768px) {
    .particles {
      height: 480rem;
    }
  }

</style> -->


<!-- <div id="particles-js" class="particles"></div> -->

    <div class="ideathon_container">
      <svg>
        <text x="50%" y="50%" text-anchor="middle">
          Agri Ideathon 2K24
        </text>
      </svg>	
    </div>

    <div class="timer">
      <div id="flipdown" class="flipdown"></div>
    </div>

    <div class="book_container">
      <div class="cover">
        <div class="book">
        <label for="page-1"  class="book__page book__page--1">
          <img src="/image/ideathon-min.png" alt="">
        </label>
        
        <label for="page-2" class="book__page book__page--4">
            <img src="/image/ideathon-min.png" alt="">
        </label>
          
        <!-- Resets the page -->
        <input type="radio" name="page" id="page-1"/>
          
        <!-- Goes to the second page -->
        <input type="radio" name="page" id="page-2"/>
        <label class="book__page book__page--2">
          <div class="book__page-front">
            <div class="page__content">
              <h1 class="page__content-book-title">AGRI-IDEATHON 2K24</h1>
              <h2 class="page__content-author">2024</h2>
              
              <p class="page__content-credits">
                <!-- Date 
                <span>---</span> -->
              </p>
              
              <p class="page__content-credits">
                <!-- Venue 
                <span>A/C Conference Hall</span> -->
              </p>
              
              <div class="page__content-copyright">
                <!-- <p>Time : ---</p> -->
              </div>
            </div>
          </div>
          
          <div class="book__page-back">
              <div class="page__content">
                <h1 class="page__content-book-title">AGRI-IDEATHON 2K24</h1>
                <h2 class="page__content-author">2024</h2>
                
                <!-- <p class="page__content-credits">
                  Date 
                  <span>---</span>
                </p>
                
                <p class="page__content-credits">
                  Venue 
                  <span>A/C Conference Hall</span>
                </p>
                
                <div class="page__content-copyright">
                  <p>Time : ---</p> 
                <!-- </div> -->
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div class="event_container">
      <section class="card__container">
        <div class="card__bx" style="--clr: #89ec5b">
          <div class="card__data">
            <div class="card__icon">
              <i class='bx bx-no-entry'></i>
            </div>
            <div class="card__content">
              <h3>No Entry Fees</h3>
              <p>Feel free to join the event. Registration is <span style="color: red;font-weight: 600;">Free</span> of cost.</p>
            </div>
          </div>
        </div>
        <div class="card__bx" style="--clr: #eb5ae5">
          <div class="card__data">
            <div class="card__icon">
              <i class='bx bxs-gift'></i>
            </div>
            <div class="card__content">
              <h3>Attractive Prizes</h3>
              <p>Participate and stand a chance to win attractive prizes!.</p>
            </div>
          </div>
        </div>
        <div class="card__bx" style="--clr: #5b98eb">
          <div class="card__data">
            <div class="card__icon">
              <i class='bx bx-medal'></i>
            </div>
            <div class="card__content">
              <h3>Certificate</h3>
              <p>Participate in the event and receive a participation certificate.</p>
            </div>
          </div>
        </div>
      </section>
  </div>

    <div class="about">
      <div class="about_content">
        <div class="about_img">
          <img src="/image/bg/Ideathon_about-min.png" alt="">
        </div>
        <div class="about_para">
          <div class="about_head">
            <h2>About Ideathon!</h2>
          </div>
          <p>
            Agri ideathon is an intensive brainstorming events where individuals from different backgrounds, skillsand
            interests converge to diagnose problems identify the best opportunities and ideate the most viable solutions in agrisector.
          </p>
        </div>
      </div>          
    </div>


    <div class="title_container">
      <h1 class="title">Agri-Ideathon Topics</h1>
    </div>

  
    <div class="topic_container">   
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/Soli-min.jpg" alt="NFT" />
          <h2>Soil Nurtering</h2>
          <p class='description'>
            Having healthy, living soil is so important because of all the things that soil does. 
            It stores water and nutrients, regulates water flow, neutralizes pollutants, sequesters carbon, 
            helps plants resist pests and so much more.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/Smart_Farming-min.jpg" alt="NFT" />
          <h2>Smart Farming Solutions</h2>
          <p class='description'>
            Smart farming incorporates information and communication technologies into machinery, 
            equipment and robots and artificial intelligence, IoT, cloud and sensors used in agricultural production systems. 
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/Vertical_Farming-min.jpeg" alt="NFT" />
          <h2>Vertical Farming  Innovation</h2>
          <p class='description'>
            Vertical farming is indoor structures that can be developed inside a building using 
            artificial lighting systems like LED lights to provide proper lighting to your crops.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/blockchain_in_agriculture-min.jpg" alt="NFT" />
          <h2>Blockchain in Agriculture</h2>
          <p class='description'>
            Blockchain technologies can track all types of information about plants,
            such as seed quality, and crop growth, and even generate a record of the journey of the plant
            after it leaves the farm.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/Value_added_agri_product-min.jpg" alt="NFT" />
          <h2>Value Added Agri Product Development</h2>
          <p class='description'>
            A value-added product is a saleable commodity that has been enhanced with additional 
            qualities that make it worth a higher price than the raw materials used to make it. 
          </p>
        </div>
      </div>
     
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/Crop_Disease_Detection_and_Prevention-min.jpg" alt="NFT" />
          <h2>Crop Disease Detection and Prevention</h2>
          <p class='description'>
            Early crop disease detection is essential for minimizing yield losses and ensuring food security. 
            Techniques like visual inspection, lab analysis, remote sensing.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/organic_farming-min.jpg" alt="NFT" />
          <h2>Sustainable Farming Practices</h2>
          <p class='description'>
            Sustainable agriculture is farming in such a way to protect the environment,
            aid and expand natural resources and to make the best use of nonrenewable resources.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/agri tech for small scale farmer-min.jpeg" alt="NFT" />
          <h2>Agri-Tech for Small-Scale Farmers</h2>
          <p class='description'>
            Agritech helps farmers in various aspects of their farming operations. 
            From increasing crop production to reducing water, fertilizer, and pesticides 
            to improving working conditions for farm workers.
          </p>
        </div>
      </div>
      
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/Climate-Resilience-Building-Among-Farmers-min.jpg" alt="NFT" />
          <h2>Climate-Resilient Crop Varieties</h2>
          <p class='description'>
            Adaptation also includes exploiting any beneficial opportunities presented by changing climates. 
            Climate-resilient crops are crops and crop varieties that have enhanced tolerance to biotic and abiotic stresses.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/Data-Driven Decision Making for Farmers-min.jpg" alt="NFT" />
          <h2>Data-Driven Decision Making for Farmers</h2>
          <p class='description'>
            The ability to analyse financial data in real-time empowers farmers to make data-driven financial decisions, 
            ultimately enhancing their profitability and sustainability.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/waste managment-min.jpg" alt="NFT" />
          <h2>Waste Management in Agriculture</h2>
          <p class='description'>
            An effective means of managing agricultural solid wastes is to recycle them to produce useful products. 
            This can be achieved through: Compositing/organic manure. Substrates for edible fungi cultivation.
          </p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="/image/bg/agri education and skill development-min.jpg" alt="NFT" />
          <h2>Agri-Education and Skill Development</h2>
          <p class='description'>
            Agricultural education plays a significant role in boosting economy and speeding up the development process. 
            Skill development refers to identifying the skill gap in a person and ensuring that he or she develops these skills. 
          </p>
        </div>
      </div>
    </div>
  
  <script>
    const radio2 = document.getElementById('page-2');
    const radio1 = document.getElementById('page-1');

    // Function to click radio2 every 2 seconds
    const clickRadio2 = () => {
      radio2.click();
    };

    // Function to click radio1 every 4 seconds
    const clickRadio1 = () => {
      radio1.click();
    };

    // Set intervals for clicking
    setInterval(clickRadio2, 2000);
    setInterval(clickRadio1, 4000);
  </script>




 <!-- scripts -->
 <script src="/js/partical/particles.js"></script>
 <script src="/js/partical/main.js"></script>
 
 <!-- stats.js -->
 <script src="/js/partical/lib/stats.js"></script>