<link rel="stylesheet" href="/css/community.css" />
<link rel="stylesheet" href="/css/particles.css" />

<style>
  .particles {
    height: 110rem;
  }

  @media (max-width: 768px) {
    .particles {
      height: 220rem;
    }
  }
</style>

<div id="particles-js" class="particles"></div>

<div class="title_container">
  <h1 class="title">Organizing Committee Information</h1>
</div>

<div class="content">
  <ul class="team">
    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Dr. M. Ramalingam<br />
          <a class="fab fa-whatsapp"
            >Department of Computer Science (AI & DS)</a
          >
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Mrs. P. Valarmathi<br />
          <a class="fab fa-whatsapp">Department of Internet of Things</a>
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Mr. K. Madheswaran<br />
          <a class="fab fa-whatsapp"
            >Department of Computer Science (AI & DS)</a
          >
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Mr. N. Dineshkumar<br />
          <a class="fab fa-whatsapp">Department of Internet of Things</a>
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Mrs. R. Renukadevi<br />
          <a class="fab fa-whatsapp"
            >Department of Computer Science (AI & DS)</a
          >
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Mrs. G. Saranya<br />
          <a class="fab fa-whatsapp">Department of Internet of Things</a>
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Mrs. A. P. Kavitha<br />
          <a class="fab fa-whatsapp"
            >Department of Computer Science (AI & DS)</a
          >
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Ms. M. Anusuyaa<br />
          <a class="fab fa-whatsapp">Department of Internet of Things</a>
        </p>
        <br />
      </div>
    </li>

    <li class="member co-funder">
      <div class="thumb"><img src="/image/bg/contact-min.png" /></div>
      <div class="description">
        <h3>Name</h3>
        <p>
          Mr. S. Chakkarapani<br />
          <a class="fab fa-whatsapp"
            >Department of Computer Science (AI & DS)</a
          >
        </p>
        <br />
      </div>
    </li>
  </ul>
</div>

<!-- scripts -->
<script src="/js/partical/particles.js"></script>
<script src="/js/partical/main.js"></script>

<!-- stats.js -->
<script src="/js/partical/lib/stats.js"></script>
