<link rel="stylesheet" href="/css/community.css">
<link rel="stylesheet" href="/css/particles.css">


<style>
	.particles {
	  height: 110rem
	}
  
	@media(max-width:768px) {
	  .particles {
		height: 220rem;
	  }
	}
</style>

<div id="particles-js" class="particles"></div>

<div class="title_container">
    <h1 class="title">Organizing Committee Information</h1>
</div>
    

<div class="content">

    <ul class="team">
        
		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Mr.S.M.Murugesan<br>
                    <a class="fab fa-whatsapp">Department of Mathematics (UA)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.P.Duraisamy<br>
                    <a class="fab fa-whatsapp">Department of Mathematics (UA)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Mrs.P.Umadevi<br>
                    <a class="fab fa-whatsapp">Department of Mathematics (UA)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Mrs.J.Boomathi<br>
                    <a class="fab fa-whatsapp">Department of Mathematics (UA)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Mr.N.Balusamy<br>
                    <a class="fab fa-whatsapp">Department of Management Science (MBA)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.S.Krishankumar<br>
                    <a class="fab fa-whatsapp">Department of Management Science (MBA)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.P.Narendran<br>
                    <a class="fab fa-whatsapp">Department of Computer Science</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.P.Prabhusundhar<br>
                    <a class="fab fa-whatsapp">Department of Computer Science</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.P.Sedhupathy<br>
                    <a class="fab fa-whatsapp">Department of Computer Science (AI & DS)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Mrs.R.Renukadevi<br>
                    <a class="fab fa-whatsapp">Department of Computer Science (AI & DS)</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.R.Shophiya<br>
                    <a class="fab fa-whatsapp">Department of Commerce</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.D.Tamilselvi<br>
                    <a class="fab fa-whatsapp">Department of Commerce</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.K.K.Gomathi<br>
                    <a class="fab fa-whatsapp">Department of Commerce</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.E.P.Sengottuvel<br>
                    <a class="fab fa-whatsapp">Department of Commerce</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.M.Parameshwari<br>
                    <a class="fab fa-whatsapp">Department of Commerce</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Dr.K.Anbazhakan<br>
                    <a class="fab fa-whatsapp">Department of Internet of Things</a>
				</p><br>
			</div>
		</li>

		<li class="member co-funder">
			<div class="thumb"><img src="/image/bg/contact-min.png" ></div>
			<div class="description">
				<h3>Name</h3>
				<p>Mr.S.Santhosh Kumar<br>
                    <a class="fab fa-whatsapp">Department of Commerce (BA)</a>
				</p><br>
			</div>
		</li>
		
	</ul>

</div>  

 <!-- scripts -->
 <script src="/js/partical/particles.js"></script>
 <script src="/js/partical/main.js"></script>
 
 <!-- stats.js -->
 <script src="/js/partical/lib/stats.js"></script>