  <link rel="stylesheet" href="/css/rule.css">
  <link rel="stylesheet" href="/css/particles.css">

<style>
  .particles {
    height: 90rem
  }

  @media(max-width:768px) {
    .particles {
      height: 110rem;
    }
  }
</style>

<div id="particles-js" class="particles" ></div>



  <div class="title_container">
    <h1 class="title">Guidelines</h1>
  </div>
 
   <div class="rule_container">
    <div class="container">
      <h1 class="center">Rule</h1>
        <article class="episode">
          <div class="episode__number">01</div>
          <div class="episode__content">
            <div class="title">Topic</div>
            <div class="story">
              <p>You can pick any of the problem statements releted to agriculture. </p>
            </div>
          </div>
        </article>
      
        <article class="episode">
          <div class="episode__number">02</div>
          <div class="episode__content">
            <div class="title">Team</div>
            <div class="story">
              <p>
                Maximum 5 members in a group.
              </p>
            </div>
          </div>
        </article>

        <article class="episode">
          <div class="episode__number">03</div>
          <div class="episode__content">
            <div class="title">Team member</div>
            <div class="story">
              <p>
                Group members can be interdisciplinary.
              </p>
            </div>
          </div>
        </article>
      
        <article class="episode">
          <div class="episode__number">04</div>
          <div class="episode__content">
            <div class="title">Preparation</div>
            <div class="story">
              <p>
                The Team will have to develop and present their “ Innovative Idea ” during the event in the form of a
                Powerpoint presentation or paper chart infront  of a panel of internal & external judges
              </p>
            </div>
          </div>
        </article>

    </div>
   </div>

   <div class="title_container">
    <h1 class="title">participant</h1>
  </div>

   <div class="participant_container">
    <div class="para">
      <p>The main purpose of the competition is to encourage innovative ideas and to apply innovations in the cultivation, processing, value addition in agriculture sector.</p>
    </div>
    <div class="para">
      <p>In this Agri Ideathon competition, School/College Students and Agricultural Activists can put forward their innovative ideas/ solutions in the areas related to the cultivation, processing and water management.</p>
    </div>
  </div>

 
 <!-- scripts -->
 <script src="/js/partical/particles.js"></script>
 <script src="/js/partical/main.js"></script>
 <!-- stats.js -->
 <script src="/js/partical/lib/stats.js"></script>