<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Acknowledgment</title>
</head>
<body>
  <h1>Registration Acknowledgment</h1>
  <h5>Follow this link to join my WhatsApp group</h5>
  <a href="https://chat.whatsapp.com/FD9J4h9Y47nIXV7A7zvPiC">https://chat.whatsapp.com/FD9J4h9Y47nIXV7A7zvPiC</a>
  <p>Thank you for registering Agri Ideathon 2K24!</p>
  <p>We appreciate your interest and look forward to your participation.</p>
</body>
</html>

